.lp-title img {
  width: max(calc(30 * var(--res)), 30px);
}

.lp-title {
  width: 100%;
  height: 20%;
  color: #fff1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4vmin;
  padding: 2em;
}

.lp-title h1 {
  font-size: max(calc(17 * var(--res)), 18px);
}

.lp-title p {
  font-size: max(calc(12 * var(--res)), 13px);
  font-weight: 600;
}

#l{
  width: max(calc(38 * var(--res)), 36px);
  margin-left: -15px;
}